<h1 class="mt-3 mb-3">KikuChannel</h1>

<nav class="navbar navbar-expand-lg navbar-light">
  <ul class="navbar-nav d-inline-flex">
    <li class="nav-item active">
      <a class="nav-link btn btn-outline-primary" href="http://localhost:3000">Top</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link btn btn-outline-primary" href="http://localhost:3000/sample">Sample</a>
    </li>
  </ul>
  
</nav>
