<!DOCTYPE html>
<html lang="ja">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

  </head>

  <body>

    <!--　入力フォーム -->
    <form method="post" action="/registUser">
      <span>名前：</span>
      <input type="text" name="name" class="form-control"><br>
     
      <span>年齢：</span>
      <input type="number" name="age" class="form-control"><br>
     
      <input type="submit" value="送信" class="btn btn-primary">
    </form>
  
  </body>

</html>
