<!DOCTYPE html>
<html lang="ja">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

  </head>

  <body>
    
    <!--　入力フォーム -->
    <div>
      <p>ユーザーを作成しました。</p>
      <P>名前：<%=name%></P>
      <p>年齢：<%=age%></p>
    </div>
  
  </body>

</html>
